.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  float: left;
  margin-left: 15px;
}

.App-header {
  background-color: #090;
  color: white;
  height:80px;
  vertical-align: center;
  box-shadow: 2px 3px #c0c0c0;
}

.App-title {
  line-height: 80px;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
