body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img.screenImage {
	float: left;
	margin: 0px 10px 0px 10px;
}

div.homeContent {
	background-color: #9ca; 
	width: 700px; 
	margin: auto;
	padding: 10px;
}

div.practiceBoard {
	margin: 0 auto;
	align-content: center;
}

div.levelClear {
	clear:both;
}

div.centered {
	text-align: 'center';
	margin: 'auto';
	display: inline-block;
}

div.detailArea {
	margin: 15px;
}

div.detailDescription {
	font-size: 0.8em;
	margin: 25px;
	text-align: left;
}

div.lightbox {
	z-index: 1000;
	position: absolute;
	left: 100px;
	top:100px;
	width: 80%;
	height: 50%;
	border: 1px solid black;
	background: white;
	box-shadow: 8px 8px #c0c0c0;
	display: none;
}

div.lightbox_hidden {
	display: none;
}

img.iconImage {
	border-radius: 50%;
	width: 75px;
}

img.detailIconImage {
	border-radius: 50%;
	width: 75px;
	float: left;
	margin: 15px;
}

div.createTeamButton {
	border-radius: 3px;
	border-color: darkgreen;
	border-width: 1px;
	border-style: solid;
	font-weight: bold;
	font-size: 1.7em;
	color: white;
	background-color:#8c8;
	width:300px;
	cursor: pointer;
	margin: auto;
}

div.teamIcon {
	border-radius: 3px;
	border: 1px solid darkgray;
	font-weight: bold;
	font-size:1.3em;
	background-color:#ccc;
	width: 250px;
	cursor: pointer;
	margin:auto;
	padding: 8px;
}

div.sign-in {
	float: right;
	font-size: 0.8em;
}

div.teamListDiv {
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
}

div.teamButtonDiv {
	margin: 10px;
}

div.centerBox {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}

span.formLabel {
	font-size: 0.7em;
}

.newTeamEntry {
	width: 100%;
	font-size: 1.5em;
}

.detailTitle {
	margin-top: 25px;
	font-size: 2em;
}

.questionStyle {
	padding: 10px;
	background-color: #eee;
	font-size: 0.8em;
	text-align: left;
	margin-top: 1px;
}

.questionStyle_correct {
	padding: 10px;
	background-color: #efe;
	font-size: 0.8em;
	text-align: left;
	margin-top: 1px;
}

